@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&family=Josefin+Sans:wght@100;200;300;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Sora:wght@400;500&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Urbanist:wght@100&display=swap');
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #7a7f9d;
}
/*handle*/
::-webkit-scrollbar-thumb {
  background: #21295c;
}
/*handle on hover*/

::-webkit-scrollbar-track:hover {
  background: #21295c;
}
